* {
    box-sizing: border-box;
}

html {
    height: 100%;
    min-height: -webkit-fill-available;
    max-height: 100vh;
    font-size: 14px;
    color: #fff !important;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.application {
    position: relative;
    & > *:not(canvas) {
        z-index: 100000000;
    }
}

.upload-avatar {
    position: relative;

    &:hover img {
        cursor: pointer;
        opacity: 0.7;
    }

    &:hover svg {
        cursor: pointer;
        background-color: rgb(7, 7, 7);
        color:rgb(244, 244, 244);
    }
    svg {
        box-sizing: content-box;
        padding: 5px;
        position: absolute;
        bottom: 0em;
        right: 0em;
        background-color: rgb(244, 244, 244);
        border-radius: 50%;
        z-index: 10;
    }
}
.file-input {
    display: none;
}

#canvas {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.message-input {
    display: flex;
    flex-direction: column;
    flex: 0;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    width: 100%;
    // padding-inline: 14px;
    margin-bottom: 14px;
    margin-top: auto;
    max-height: 50px;
}

.scrollable {
    max-height: calc(90vh - 60px);
    padding-block-end: 10px;
    min-height: calc(90vh - 60px);
    overflow: auto;
    flex: 1;
}

@media  (max-width: 800px) {
    .scrollable {
        max-height: calc(100vh - 60px - 50px);
    }
  }


.chat-link {
    width: 100%;

    &.active {
        background-color: #282c33;
    }
}

::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #276749;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #38A169;
    border-radius: 1px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #276749;
  }


  .Toastify__toast {
    background: #282c33 !important;
}
  .toastBody {
    background: #282c33 !important;
  }
  .toastProgress {
    background: #29a169 !important;
  }