* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.app {
    position: relative;
    & > *:not(canvas) {
        z-index: 100000000;
    }
}

.upload-avatar {
    position: relative;

    &:hover img {
        cursor: pointer;
        opacity: 0.7;
    }

    &:hover svg {
        cursor: pointer;
        background-color: rgb(7, 7, 7);
        color:rgb(244, 244, 244);
    }
    svg {
        box-sizing: content-box;
        padding: 5px;
        position: absolute;
        bottom: 0em;
        right: 0em;
        background-color: rgb(244, 244, 244);
        border-radius: 50%;
        z-index: 10;
    }
}
.file-input {
    display: none;
}

#canvas {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.message-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-inline: 14px;
    margin-top: auto;
    max-height: 60px;
}

.scrollable {
    max-height: calc(90vh - 60px - 40px);
    height: calc(90vh - 60px - 40px);
    overflow: auto;

}


.chat-link {
    width: 100%;

    &.active {
        background-color: #282c33;
    }
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #276749;
    border-radius: 4px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #38A169;
    border-radius: 4px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #276749;
  }